
./doc/*
.DS_Store
*.app
*.o
*.obj
*.exe
*.dll
*.pdb
s2d
*.creator.user
*.png
*.autosave
*.ttf
error.txt
*.so
*.m4v
*.mp4
./android-project/bin/*
./android-project/gen/*
./android-project/libs/*
./android-project/obj/*
icosphere.blend
linux.includes
linux.files
linux.creator
linux.config
ssf
*.pro.user
streamsurfacefinal.pro.user.f2baa36
streamsurfacefinal.pro.user.4bb01b8
*.pro.user*
object_script.ssf.Release
object_script.ssf.Debug
moc_MainWindow.cpp
moc_GLWidget.cpp
Makefile.Release
Makefile.Debug
Makefile
*.embed.manifest
debug/*
release/*
.qmake.stash
build/*
cmake-build-debug/*
cmake-build-release/*
